form{
    margin-left: 30px;
    display: table;
}

.error{
    text-align: center;
}

.row{
    display: table-row;
}
.column6{
    margin-right: 1%;
    float: left;
    width: 16%;
}
.column1{
    display: table-cell;
}
h4{
    margin-bottom: 10px;
    margin-top: 10px;
}

.submitbutton{
    text-align: center;
    padding-top: 10px;
}