form{
    margin-left: 30px;
    display: table;
    width: 100%;
}


.error{
    margin-left: 3%;
}


.column6{
    margin-right: 1%;
    float: left;
    width: 16%;
}
.column1{
    width: 100%;
}
h4{
    margin-bottom: 10px;
    margin-top: 10px;
}
