<div class="textcenter2">
    <div class="tab">
        <button ng-click="show(0)" ng-class="{active: seen[0]}" class="tablinks"><img src="https://image.flaticon.com/icons/svg/263/263402.svg" class="mainicon">Clicker</button>
        <button ng-click="show(1)" ng-class="{active: seen[1]}" class="tablinks" ><img src="https://image.flaticon.com/icons/png/512/263/263381.png" class="mainicon">Speed</button>
        <button ng-click="show(2)" ng-class="{active: seen[2]}" class="tablinks" ><img src="https://image.flaticon.com/icons/svg/363/363357.svg" class="mainicon">React</button>
        <button ng-click="show(3)" ng-class="{active: seen[3]}" class="tablinks" ><img src="https://image.flaticon.com/icons/svg/122/122644.svg" class="mainicon">Follow</button>
    </div>

    <div id="Clicker" ng-class="{seen: seen[0]}" class="tabcontent">
        <h1 class="title"><img src="https://image.flaticon.com/icons/svg/263/263402.svg" class="titleicon">Clicker</h1>
        <table align="center">
            <tr>
                <th>Username</th>
                <th>Mode</th>
                <th>Clicker</th>
                <th>CPS</th>
                <th>Date</th>
            </tr>
            <tr ng-repeat="x in highscore | orderBy: '-aps' | filter: {game: 'Clicker'}">
                <td><img ng-if="$index<3"class="medal" src="{{medals[$index]}}">{{x.username}}</td>
                <td>{{x.mode}}</td>
                <td>{{x.action}}</td>
                <td>{{x.aps}}</td>
                <td>{{x.date | date: 'medium'}}</td>
            </tr>
        </table>
    </div>


    <div id="Speed" ng-class="{seen: seen[1]}" class="tabcontent">
        <h1 class="title"><img src="https://image.flaticon.com/icons/png/512/263/263381.png" class="titleicon">Speed</h1>
        <table align="center">
            <tr>
                <th>Username</th>
                <th>Mode</th>
                <th>Entries</th>
                <th>EPS</th>
                <th>Date</th>
            </tr>
            <tr ng-repeat="x in highscore | orderBy: '-aps' | filter: {game: 'Speed'}">
                <td><img ng-if="$index<3"class="medal" src="{{medals[$index]}}">{{x.username}}</td>
                <td>{{x.mode}}</td>
                <td>{{x.action}}</td>
                <td>{{x.aps}}</td>
                <td>{{x.date | date: 'medium'}}</td>
            </tr>
        </table>
    </div>

    <div id="React" ng-class="{seen: seen[2]}" class="tabcontent">
        <h1 class="title"><img src="https://image.flaticon.com/icons/svg/363/363357.svg" class="titleicon">React</h1>
        <table align="center">
            <tr>
                <th>Username</th>
                <th>Mode</th>
                <th>Reactions</th>
                <th>RPS</th>
                <th>Date</th>
            </tr>
            <tr ng-repeat="x in highscore | orderBy: '-aps' | filter: {game: 'React'}">
                <td><img ng-if="$index<3"class="medal" src="{{medals[$index]}}">{{x.username}}</td>
                <td>{{x.mode}}</td>
                <td>{{x.action}}</td>
                <td>{{x.aps}}</td>
                <td>{{x.date | date: 'medium'}}</td>
            </tr>
        </table>
    </div>

    <div id="Follow" ng-class="{seen: seen[3]}" class="tabcontent">
        <h1 class="title"><img src="https://image.flaticon.com/icons/svg/122/122644.svg" class="titleicon">Follow</h1>
        <table align="center">
            <tr>
                <th>Username</th>
                <th>Mode</th>
                <th>Follows</th>
                <th>FPS</th>
                <th>Date</th>
            </tr>
            <tr ng-repeat="x in highscore | orderBy: '-aps' | filter: {game: 'Follow'}">
                <td><img ng-if="$index<3"class="medal" src="{{medals[$index]}}">{{x.username}}</td>
                <td>{{x.mode}}</td>
                <td>{{x.action}}</td>
                <td>{{x.aps}}</td>
                <td>{{x.date | date: 'medium'}}</td>
            </tr>
        </table>
    </div>
</div>