<div class="textcenter">
    <h1>Clicker</h1>
    <table align="center">
        <tr>
            <th>Username</th>
            <th>Mode</th>
            <th>Clicker</th>
            <th>CPS</th>
            <th>Date</th>
        </tr>
        <tr ng-repeat="x in highscore | orderBy: '-eps' | filter: {game: 'Clicker'}">
            <td><img ng-if="$index<3"class="medal" src="{{medals[$index]}}">{{x.username}}</td>
            <td>{{x.mode}}</td>
            <td>{{x.clicks}}</td>
            <td>{{x.cps}}</td>
            <td>{{x.date | date: 'medium'}}</td>
        </tr>
    </table>

    <h1>Speed</h1>
    <table align="center">
        <tr>
            <th>Username</th>
            <th>Mode</th>
            <th>Entries</th>
            <th>EPS</th>
            <th>Date</th>
        </tr>
        <tr ng-repeat="x in highscore | orderBy: '-eps' | filter: {game: 'Speed'}">
            <td><img ng-if="$index<3"class="medal" src="{{medals[$index]}}">{{x.username}}</td>
            <td>{{x.mode}}</td>
            <td>{{x.entry}}</td>
            <td>{{x.eps}}</td>
            <td>{{x.date | date: 'medium'}}</td>
        </tr>
    </table>
</div>