
<form style="text-align: center" name="myForm">
    <p><input type="text" name="foodaux" ng-model="foodaux" style="text-align: right" required minlength="4" ></p>

    <div ng-messages="myForm.foodaux.$error" role="alert" style="color: red">
        <div ng-message="required">Empty field</div>
        <div ng-message="minlength">Too short</div>
    </div>

    <h1 >{{food}}</h1>

    <button ng-click="add()">add</button><br>
    <button ng-click="surpriseme()">Surprise Me!</button>

   <div>
       Email:
       <input type="email" name="myAddress" ng-model="text">
       <h1>Status</h1>
       <p ng-if="myForm.myAddress.$invalid">invalid</p>
   </div>
    <div>
    <button ng-keypress="count = count + 1" ng-init="count=0">
        Increment (on mouse up)
    </button>
    count: {{count}}
    </div>
    <div>
        <input ng-cut="copied=true" ng-init="copied=false; value='copy me'" ng-model="value">
        copied: {{copied}}
    </div>
    <div>
        <input ng-list ng-model="list">
        {{list}}
    </div>
    <div>
        <form name="userForm">
            <label>Name:
                <input type="text" name="userName"
                       ng-model="user.name"
                       ng-model-options="{ getterSetter: true }" />
            </label>
        </form>
        <pre>user.name = <span ng-bind="user.name('klk')"></span></pre>
    </div>
    <div>
        Hide: <input type="checkbox" ng-model="checked">
        <div class="animate-show-hide" ng-hide="checked">
            This hides when the checkbox is pressed
        </div>
    </div>
    <!--<span ng-show="myForm.myAddress.$error.email"> Not a valid email</span>-->
</form>